/*General styles*/
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}

:root{
    --bgColor: white;
    --primaryColor: black;
    --secondaryColor: gray;
    --accentColor: darkslateblue;
}
header, main, footer{
    width: 100vw;
}
.grid{
    display: grid;
}
.content{
    width: 90vw;
    margin: auto;
}
nav ul,
footer ul{
    list-style: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
ul li a{
    text-decoration: none;
    color: white;
}
/*Header*/
header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 50vh;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.912570130591299) 68%);
    font-family: sans-serif;
}
header nav, header nav ul{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
#menu ul{
    background-color: rgba(0,0,0,0.5);
}
#menu ul li{
    order:2;
    display: flex;
    align-items: center;
}
#menu ul li a,
#menu ul li form{
    padding: 1rem;
}
#menu ul li a{
    text-align: center;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1.2px;
    color: gray;
    width: 100%;
    min-width: 85px;
    box-sizing: border-box;
}
#menu ul li a:hover{
    color:white;
}
#menu ul #home-search{
    order:1;
}
#menu ul #home-search form{
    width: 100%;
    position: relative;
    text-align: right;
    margin-right: 1rem;
}
#menu ul #home-search input{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    margin: auto;
    height: 40px;
    padding: 0 1em;
    width: 100%;
    max-width: 350px;
}
#menu ul #home-search input::placeholder{
    color: gray;
    font-style: italic;
    position: relative;
}
#menu ul #home-search form button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    position: absolute;
    top:35%;
    right: 5%;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: url("../assets/svg/icons8-search-16.svg") bottom center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.7;
}
#menu ul #home-search form button:hover {
    opacity: 1;
}
#logo-wrapper{
    display: flex;
    justify-content: space-between;
}
.menu-list{
    display: none;
}
.show-menu{
    display: block;
}
#logo-wrapper a,
#footer-logo-wrapper a{
    width: 50%;
    background-color:aqua;
}
#logo-wrapper #logo-img{
    width: 100%;
    height: 100%;
}
#menu-toggle{
    text-align: right;
    padding: 1rem;
}
#menu-toggle button{
    font-size: 1.5rem;
    margin: 0 1rem;
    color: white;
    border: none;
    background-color: inherit;
    padding: 0.5rem 1rem;
}
#menu-toggle button:hover{
    cursor: pointer;
}

/* MAIN */
#gallery{
    height: 80vh;
    background-color:rgb(177, 176, 176);
    width: 100%;
}
.home-articles{
    grid-template-columns: 1fr;
    gap: 1.2rem;
}
.home-articles article,
aside article,
.aside-profile{
    width: 100%;
    height: 200px;
    background-color: gray;
    margin: 1rem 0;
}
aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
aside section{
    margin: 1rem 0;
}
.aside-content{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.aside-content .aside-article-thumb article{
    min-width: 350px;
    min-height: 500px;
}
/*footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color: black;
}
footer *{
    color: black;
}
footer h3{
    text-align: center;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
}
footer form{
    display: flex;
    flex-direction: column;
    height: 45px;
    justify-content: space-between;
}
footer form input{
    margin-bottom: 1rem;
    min-width: 60%;
    min-height: 40px;
}
footer form button{
    min-width: 150px;
    border-radius: 50px;
    min-height: 40px;
}
.newsletter-subscription{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-menu-wrapper{
    display: flex;
    height: 15vh;
    justify-content: center;
}

#footer-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    text-align: center;
    height:10vh;
}
#footer-socials{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: center;
}
.footer-menu-wrapper,
#footer-socials,
small{
    margin: 5vh 0;
    box-sizing: border-box;
}
small{
    display: block;
    width: 100%;
    text-align: center;
}
/*Large Mobile*/
@media only screen and (min-width:500px){
    footer form{
        flex-direction: row;
        justify-content: center;
    }
    .newsletter-subscription{
        height: 15vh;
        align-items: center;
    }
    .newsletter-subscription #title{
        width: 20%;
    }
    .newsletter-subscription form{
        width: 80%;
    }
    footer form  *{
        margin: 0 1vw;
    }
}
/*Tablet*/
@media only screen and (min-width: 800px){
    #menu-toggle{
        display: none;
    }
    .menu-list{
        display: block;
    }
    header{
        padding-top:1vh;
    }
    header nav,
    header nav ul{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        border-bottom: 1px solid white;
        width: 90%;
        height:10vh;
        margin: auto;
        align-items: center;
    }
    header nav ul{
        justify-content: flex-end;
    }
    #menu ul #home-search form button {
        top:38%;
        right: 8%;
    }
    #menu ul #home-search{
        order:2;
    }
    #menu ul{
        background-color: transparent;
    }
    .newsletter-subscription{
        flex-direction: row;
        width: 100%;
    }
    .footer-wrapper{
        flex-direction: row;
        width: 90%;
        margin: auto;
    }
    .footer-menu-wrapper{
        width: 60%;
        height: min-content;
    }
    #footer-socials{
        width: 40%;
    }
}
/*Desktop*/
@media only screen and (min-width: 1000px){
    
}