@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=GFS+Didot&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*General styles*/
html, body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    font-family: "GFS Didot", 'Times New Roman', Times, serif;
}
:root{
    --white: white;
    --headerColor: #04132A;
    --primaryColor: #08254F;
    --secondaryColor: #04132A;
    --accentColor: #0079FD;
}
h1,h2,h3{
    font-family: Montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: var(--headerColor);
}
button{
    font-family: Montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}
header, main, footer{
    width: 100vw;
}
.grid{
    display: grid;
}
.content{
    width: 90vw;
    margin: auto;
}
main .content{
    margin: 0 auto;
}
nav ul,
footer ul{
    list-style: none;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
ul li a{
    text-decoration: none;
    color: white;
    font-style: normal;
}

/*Header*/
header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    height: 5%;
    font-family: sans-serif;
}
header nav{
    max-height: 150px;
}
header nav, header nav ul{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}
#menu ul{
    z-index: 2;
    background-color: rgba(0,0,0,0.35);
}
#menu ul li{
    order:2;
    display: flex;
    align-items: center;
}
#menu ul li a,
#menu ul li form{
    padding: 1rem;
}
#menu ul li a{
    text-align: center;
    font-weight: lighter;
    letter-spacing: 1.2px;
    color: white;
    width: 100%;
    min-width: 85px;
    box-sizing: border-box;
}
#menu ul li a:hover{
    color:white;
}
#menu ul #home-search{
    order:1;
}
#menu ul #home-search form{
    width: 100%;
    position: relative;
    text-align: right;
    margin-right: 1rem;
}
#menu ul #home-search input{
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    margin: auto;
    height: 40px;
    padding: 0 1em;
    width: 100%;
    max-width: 350px;
}
#menu ul #home-search input::placeholder{
    font-style: italic;
    position: relative;
}
#menu ul #home-search form button {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    position: absolute;
    top:35%;
    right: 5%;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: url("../assets/svg/icons8-search-16.svg") bottom center;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: 0.7;
}
#menu ul #home-search form button:hover {
    opacity: 1;
}
#logo-wrapper{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-height: 100px;
}
#logo-wrapper a {
    width: 50%;
}
#logo-wrapper #logo-img{
    height: 100%;
}
.menu-list{
    display: none;
}
.show-menu{
    display: block;
}
#menu-toggle{
    text-align: right;
    width: 100%;
}
#menu-toggle button{
    font-size: 1.5rem;
    margin: 0 1rem;
    color: white;
    border: none;
    background-color: inherit;
    padding: 0.5rem 1rem;
    height: 100%;
}
#menu-toggle button:hover{
    cursor: pointer;
}

/* HOME - MAIN */
.media-cover{
    width: 100%;
    text-align: center;
    overflow: hidden;
    height: 40vh;
    position: relative;
}
.media-cover .media-text{
    position: absolute;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.75) 68%);
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: var(--white);
    place-content: center;
    padding: 10% 5%;
    text-align: left;
}
.media-cover .media-text h1{
    font-size: 3.5rem;
    max-width: 400px;
    margin: 0;
    color: var(--white);
}
.media-cover .media-text p{
    font-size: 1.2rem;
    font-family: Montserrat, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    max-width: 700px;
    line-height: 1.8rem;
}.media-cover .media-text small{
height: 100%;
}
#gallery{
    height: 90vh;
}
#gallery img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.home-articles{
    grid-template-columns: 1fr;
    gap: 1.2rem;
    max-width: 90vw;
}
.home-articles article a{
    text-decoration: none;
    color: black;
    min-height: fit-content;
    height: 100%;
    display: flex;
}
.home-articles .main-article a{
    flex-direction: column;
}
.home-articles .article-card-wrapper{
    height: 44%;
    min-height: 233px;
}
.articles{
    width: 100%;
}
.section-title{
    max-width: 200px;
    font-size: 2rem;
    border-bottom: 2px solid black;
}
aside .section-title{
    font-size: 1.5rem;
}
.article-thumbnail{
    width: 35%;
    aspect-ratio: 1/1;
}
.article-thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-article .article-thumbnail{
    aspect-ratio: unset;
    height: 300px;
    width: 100%;
}
.main-article .main-article-title{
    font-size: 2rem;
}
.article-card-wrapper{
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 44%;
}

.main-article p{
    max-height: 200px;
}
.main-article .article-card-wrapper{
    height: auto;
}
.home-articles article,
aside article,
.aside-profile{
    width: 100%;
    max-width: 99%;
    margin: 1rem 0;
    border: thin solid lightgray;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 90vw;
    margin: 4rem 0 0 0;
}
aside section{
    margin: 1rem 0;
    color: inherit;
}
aside section h3{
    font-size: 1.2rem;
    margin: 0;
    border-bottom: 2px solid black;
}
aside section .article-card-wrapper{
    margin: 1rem 0.5rem 1rem 0;
    padding: 0;
    flex: 0 0 auto;
    width: 100%;
    max-width: 350px;
}
.read-more{
    font-size: 1.2rem;
    text-decoration: underline;
    font-family: "EB Garamond", Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: right;
    display: block;
    width: 100%;
}
.content-wrapper{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    height: fit-content;
}
/*Story*/
.article-title *{
    color: white;
}
.article-title{
    position: relative;
    z-index: 0;
}
.article-title h1{
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
    z-index: 3;
    text-shadow: 5px 5px 20px black;
}
.story{
    margin-bottom: 5vh;
}
.story article{
    margin-top: 5vh;
    width: 90vw;
}
.story article img{
    width: 100%;
}
.story article p{
    font-size: 1.2rem;
}
.story article .article-footer{
    display: flex;
    min-width: fit-content;
    margin-top: 2vh;
}
.story article .article-footer a{
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    letter-spacing: 1px;
    padding: 0.5rem;
    width: 100px;
    border-radius: 50px;
    text-align: center;
    color: lightgray;
    margin-right: 1vw;
    border: thin solid lightgray;
}
.story article .article-footer .share-option{
    color: white;
    background-color: gray;
    border-color: gray;
}
.author-profile-wrapper{
    max-width: 350px;
    width: 90%;
    margin: 1rem 0.5rem 1rem auto;
    border: thin solid lightgray;
    border-radius: 10px;
    height: min-content;
    text-align: center;
    flex: 0 0 auto;
}
.story aside .author-profile-wrapper{
    margin-top: 10vh;
    width: 90%;
}
.article-title{
    display: flex;
    flex-direction: column;
    place-content: flex-end;
    padding-bottom: 10%;
}
#story-1-cover{
    background-image: url("https://media.istockphoto.com/id/1219033315/photo/landscape-of-shamanka-rock-and-milky-way-on-sky-with-natural-breaking-ice-in-frozen-water-on.jpg?s=612x612&w=0&k=20&c=pJ3iZq9p9L7t8-kwkaVHWAnFXuhVTmaw5dKaeFMDgBo=");
    background-size: cover;
    background-position: bottom -30%;
    background-repeat: no-repeat;
}
.author-profile{
    padding: 1rem 0.5rem;
    max-height: 600px;
}
.author-profile h3{
    font-size: 1.5rem;
    margin-bottom: 0;
    border: none;
}
.author-profile p{
    font-size: 1.1rem;
    margin-top: 0.5rem;
}
.author-profile .author-photo{
    width: 85%;
    margin: auto;
    min-width: 10%;
}
.author-profile .author-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: thin solid lightgray;
}
.author-profile-wrapper a{
    text-decoration: none;
    font-weight: lighter;
    color: black;
}
.author-profile .author-social-media{
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    margin: 4rem 0 1rem 0;
}
.author-profile-wrapper .view-profile{
    display: block;
    padding: 1rem;
    border-top: thin solid lightgray;
}
/*footer*/
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--primaryColor);
}
footer *{
    color: white;
}
footer h3{
    text-align: center;
}
.footer-wrapper{
    display: flex;
    flex-direction: column;
}
footer form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
footer form input{
    margin-bottom: 1rem;
    min-width: 60%;
    min-height: 40px;
    border-radius: 5px;
    border: none;
    padding: 0.1rem 0.6rem;
}
footer form input::placeholder{
    color: gray;
}
footer form button{
    min-width: 150px;
    border-radius: 50px;
    min-height: 40px;
    border: none;
    color: white;
    background-color: var(--accentColor);
    text-transform: uppercase;
}
.newsletter-subscription{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    place-content: center;
    align-items: center;
    justify-items: center;
}
.newsletter-subscription #title{
    width: 100%;
}
.newsletter-subscription #title *{
    text-align: center;
    color: whitesmoke;
}
.newsletter-subscription #title h3{
    font-size: 1.6rem;
}
.newsletter-subscription #title p{
    font-size: 1.2rem;
}
#footer-logo-wrapper{
    width: 100%;
}
#footer-logo{
    width: 80%;
}
.footer-menu-wrapper{
    display: flex;
    justify-content: center;
}
#footer-menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    text-align: center;
    /*height:10vh;*/
}
#footer-socials{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: center;
}
.newsletter-subscription,
.footer-menu-wrapper,
#footer-socials{
    margin: 4vh 0;
    box-sizing: border-box;
}
small{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 5vh;
    text-align: center;
}
#footer-menu li,
#footer-socials li,
#footer-socials li a,
#footer-menu li a{
    display: flex;
    place-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
/*Large Mobile*/
@media only screen and (min-width:500px){
    main .content{
        overflow: hidden;
    }
    footer form{
        flex-direction: row;
        justify-content: center;
    }
    .newsletter-subscription form{
        width: 100%;
    }
    footer form  *{
        margin: 0 1vw;
    }
    footer form input{
        margin-bottom: 0;
    }
}
/*Tablet*/
@media only screen and (min-width: 800px){
    #logo-wrapper{
        max-width: 150px;
    }
    #menu-toggle{
        display: none;
    }
    .menu-list{
        display: block;
    }
    header{
        padding-top:1vh;
        height: 10%;
    }
    header nav,
    header nav ul{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        border-bottom: 1px solid white;
        width: 90%;
        height:10vh;
        margin: auto;
        align-items: center;
    }
    header nav ul{
        justify-content: flex-end;
    }
    #menu ul #home-search form button {
        top:38%;
        right: 8%;
    }
    #menu ul #home-search{
        order:2;
    }
    #menu ul{
        background-color: transparent;
    }
    .media-cover .media-text{
        padding: 0 10%;
    }
    main .content{
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }
    .home-articles{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 30rem 1fr 1fr;
        grid-auto-rows: auto;
        place-content: center;
    }
    aside {
        justify-content: flex-start;
    }
    .aside-content{
        height: 30rem;
    }
    .article-thumbnail{
        min-width: 100%;
        min-height: 200px;
    }
    .main-article{
        width: 100%;
        grid-column: 1/-1;
    }
    .home-articles article a{
        flex-direction: column;
        align-items: stretch;
        margin: 0;
    }
    .home-articles .main-article a{
        flex-direction: row;
        width: 100%;
        height: 100%;
    }
    .main-article a .article-thumbnail{
        min-width:50%;
        width: 50%;
        height: 100%;
        position:relative;
    }
    aside article{
        margin: 0.5rem 0;
        height: 100%;
    }
    .content-wrapper{
        flex-direction: column;
        
        padding-top: 1vh;
        overflow-x: hidden;
    }
    .most-read-section .content-wrapper{
        height: 29rem;
    }
    aside section .article-card-wrapper {
        max-width: 99%;
        margin: 0 0 0.8rem 0;
        padding: 0;
        height:100%;
        max-height: 140px;
    }
    /*Story*/
    .story article{
        width: 65vw;
        grid-column: 2/-1;
    }
    .story aside{
        grid-column: 1/2;
        grid-row: 1/-1;
    }
    /*Footer*/
    .newsletter-subscription{
        grid-template-columns: 1fr 1fr;
    }
    .newsletter-subscription #title *{
        text-align: left;
    }
    .footer-wrapper{
        flex-direction: row;
        width: 90%;
        margin: auto;
    }
    .footer-menu-wrapper{
        width: 60%;
        height: 10vh;
    }
    #footer-socials{
        width: 40%;
    }
}
/*Desktop*/
@media only screen and (min-width: 1000px){
    main .content{
        grid-template-columns: 3fr 1fr;
    }
    .home-articles{
        grid-template-columns: repeat(3,1fr);
    }
    .home-articles article,
    aside article,
    .aside-profile{
        max-width: 100%;
    }
    .footer-menu-wrapper{
        width: 100%;
    }
    #footer-logo-wrapper{
        text-align: center;
        width: 40%;
        padding:1rem;
    }
    #footer-logo{
        position:relative;
        top:-100%;
    }
    #footer-menu{
        grid-template-columns: repeat(5,1fr);
        margin-right: 15vw;
    }
    #footer-menu li a{
        justify-content: flex-start;
    }
    .footer-wrapper{
        margin: 0;
        width: 100%;
    }
}